.dashboard {
    -fx-background-color: #745c97;
    -fx-pref-width: 230px;
    -fx-pref-height: 500px;
}

.main {
    -fx-background-color: #f5b0cb;
    -fx-pref-width: 520px;
    -fx-pref-height: 500px;
}

.text-area {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: #f5b0cb;
    -fx-pref-width: 200px;
    -fx-wrap-text: true;
}

.main-text-area {
    -fx-text-fill: #745c97;
    -fx-pref-width: 520px;
    -fx-pref-height: 120px;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .scroll-bar .increment-button {
    visibility: hidden;
}

.text-area .scroll-bar .decrement-button {
    visibility: hidden;
}

.text-area .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical .track-background {
    visibility: hidden;
}

.text-area .scroll-bar:vertical .track {
    visibility: hidden;
}

.text-area .hide-thumb .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}

.scroll-bar .thumb
{
    -fx-background-color: #39375b;
    -fx-opacity: 0.5;
}


.dashboard-label {
    -fx-padding: 3px 5px 3px 5px;
    -fx-text-fill: #f5b0cb;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.button {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-background-color: #d597ce;
    -fx-text-fill: #39375b;
    -fx-pref-height: 27px;
    -fx-pref-width: 220px;
}

.title {
    -fx-pref-width: 230px;
    -fx-padding: 5px 0 5px 0;
    -fx-alignment: center;
    -fx-background-color: #d597ce;
    -fx-text-fill: #39375b;
    -fx-font-size: 26px;
    -fx-font-family: "Arial";;
}

.text-field {
    -fx-prompt-text-fill: #6e6aaf;
    -fx-background-color: #f5b0cb;
    -fx-text-fill: #39375b;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

#lineChart {
    -fx-pref-height: 280px;
    -fx-pref-width: 520px;
}

.chart-plot-background {
    -fx-background-color: #6e6aaf;
    -fx-opacity: 0.2;
}

.axis-label {
    -fx-text-fill: #6e6aaf;
}

.chart-title {
    -fx-text-fill: #6e6aaf;
    -fx-font-size: 16px;
}